.animation {
;-webkit-animation:twinkling 2.1s infinite ease-in-out;
  animation:twinkling 2.1s infinite ease-in-out;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
.animation2 {
;-webkit-animation:twinkling 2.1s infinite ease-in-out;
  animation:twinkling 2.1s infinite ease-in-out;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

@keyframes twinkling {
  0% {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transform: scale(1.12);
  }
  100% {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: scale(1);
  }
}

html{height: 100%}
body{
  height: 100%;
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  padding: 40px;
  overflow: hidden;
  color: #fff;
  font-weight: 300;
}
*{
  box-sizing: border-box;
}
.clear{
  position: fixed;
  right: 60px;
  top: 5px;
  button{
    background: cornflowerblue;
    color: #fff;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 3px;
  }
}
.container,
#app{
  height: 100%;
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 50px;
  overflow-y: auto;

}
.mi{
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 300;
}
.shu{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255,255,255,.2);
  border-left: 1px solid rgba(255,255,255,.2);
}
.shu span{
  width: 11.111111%;
  height: 50px;
  background: #45484d;
  text-align: center;
  color: #fff;
  font-weight: 300;
  line-height: 50px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
  position: relative;
}
.shu span:hover{
  opacity: .7;
}
.shu span.ji{
  background: #b1191a;
}
.shu span.ban{
  background: #fb83fa ;
}
.shu span.active{
  z-index: 9;
}
.shu span.active:after{
  border: 3px solid #f8b500;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
  z-index: 999;
}

.phone{
  line-height: 50px;
  margin-top: 20px;
}
.phone input{
  font-size: 20px;
  height: 50px;
  background: rgba(255,255,255,.2);
  color: #fff;
  padding: 10px;
  font-weight: 300;
  border: 1px solid rgba(255,255,255,.5);
}
.phone-list,
.hao-data{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.phone-list span{
  padding: 10px;
  margin-right: 30px;
  color: #b1191a;
  position: relative;
}
.phone-list span label{
  margin-right: 20px;
  color: #fff;
}

.phone-list span.active label{
  color: greenyellow;

}
.phone-list span.active:after{
  position: absolute;
  left: -10px;
  width: 10px;
  height: 10px;
  background: greenyellow;
  content: "";
  display: block;
  top: 17px;
  border-radius: 10px;
}

.hao-filter{
  display: flex;
  line-height: 30px;
}
.hao-filter button{
  margin-right: 15px;
  width: 60px;
  border-radius: 3px;
  background: cornflowerblue;
  color: #fff;
  border: none;
}
.hao-filter input{
  width: 40px;
  height: 30px;
  background: rgba(255,255,255,.3);
  margin-right: 1%;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: 300;
  border: 1px solid rgba(255,255,255,.5);
}

.hao-data{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  span{
    padding: 10px;
    margin-right: 10px;
    color: #fff;
    position: relative;
    display: flex;
    &.ji{
      i{
        color: red;
        font-weight: bolder;
      }
    }
    &.ban{
      i{
        color: #fb83fa;
      }
    }
    &.bad{
      color: #45484d;
    }
    i{
      width: 30px;
      font-style: normal;
    }
    label{
      margin-right: 15px;
      width: 110px;
    }
    em{
      margin-right: 10px;
      font-style: normal;

    }
    strong{
      font-weight: 300;
      width: 90px;
    }
  }
}
